.clearfix::after{
    clear: both;
    display: table;
    content: '';
}

.upper{
    width: 500px;
    margin: 0 auto;
}

.btn-div{
    width: 160px;
}

.col1{
    float: left;
}
.col2{
    float: right;
    margin-top: 7px;
}

h1{
    margin-bottom: 20px;
}

form{
    display: inline;
}

table {
    border-collapse: collapse;
    margin-top: -8px;
    width: 450px;
}

th {
    text-align: center;
}
  
tr,td,th{
    padding: 10px 30px;
    border: 1px solid black;
}

button{
    color: white;
    background-color: red;
    border: none;
    margin-bottom: 10px;
    padding: 8px 20px;
}

a{
    color: white;
    background-color: blue;
    padding: 8px 20px;
    text-decoration: none;
}

.add-btn{
    color: white;
    background-color: black;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 20px;
}

.name-div,.age-div,.type-div,.gender-div{
    margin-bottom: 20px;
}

label{
    font-size: 18px;
}

input {
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
}

select{
    width: 310px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
}

input[type=radio]{
    width: 50px;
}

.page-link{
    color: white;
    background-color: black;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.excel label{
    margin-left: -170px;
}

.excel-btn{
    margin-top: 20px;
    margin-left: -146px;
}

.excel-btn button {
    background: blue;
    padding: 9px 21px;
}
  